@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html {
	@apply scroll-smooth;
  }
  
  @layer components {
	.btn-primary {
	  @apply py-2 px-4 
	  bg-blue-300 dark:bg-red-800 
	  text-black dark:text-white
	  font-semibold rounded-lg shadow-md 
	  hover:bg-blue-700 dark:hover:bg-red-600
	  focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
	}
  
	.section-commons {
	  @apply h-screen py-20
	  text-black dark:text-white;
	}

  }